<%# locals: (user:, favorite_user: nil) %>

<div id="<%= dom_id(user, :header_content) %>">
  <% if user.suspicious? && Current.user&.admin? %>
    <div class="bg-yellow-100 border border-yellow-400 text-yellow-800 px-4 py-2 rounded mb-2 text-sm">
      This user has been flagged as suspicious.
    </div>
  <% end %>

  <%= render partial: "profiles/mobile_header", locals: {user: user, favorite_user: favorite_user} %>
  <%= render partial: "profiles/desktop_header", locals: {user: user, favorite_user: favorite_user} %>
</div>
