<div class="container py-8 hotwire-native:py-3" data-controller="events-view-switcher" data-events-view-switcher-storage-key-value="past-view">
  <div class="hotwire-native:hidden">
    <h1 class="title shrink-0">
      <%= title "Past Events" %>
    </h1>

    <div class="mt-2 flex flex-col gap-3 md:flex-row md:items-stretch md:justify-between md:gap-4 md:border-b md:border-gray-200">
      <%= render "events/collections_navigation", active: :past %>

      <div class="flex shrink-0 items-center overflow-x-auto pb-2 md:pb-1">
        <div class="tabs tabs-boxed">
          <button type="button" class="tab tab-active" data-events-view-switcher-target="button" data-events-view-switcher-view-param="preview" data-action="click->events-view-switcher#show">
            Preview
          </button>

          <button type="button" class="tab" data-events-view-switcher-target="button" data-events-view-switcher-view-param="list" data-action="click->events-view-switcher#show">
            List
          </button>

        </div>
      </div>
    </div>
  </div>

  <div data-events-view-switcher-target="view" data-events-view-switcher-view-param="preview">
    <%= render partial: "events/featured_card_list", locals: {events: @events} %>
  </div>

  <div class="hidden mt-6" data-events-view-switcher-target="view" data-events-view-switcher-view-param="list">
    <%= render partial: "events/plain_list", locals: {events: @events} %>
  </div>
</div>
